<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Templete t1</title>
        <script type="text/javascript" src="<%=contextPath%>/resources/script/test.js"></script>
        <link rel="stylesheet" href="<%=contextPath%>/resources/css/test.css"/>
    </head>
    <body>
        <% include('user') %>
        <% include('test1') %>
        <% include('user') %>
        <div class="user-name">总用户数：<%=users.length%></div>
        <ul title="<%=users.length%>">
            <% for (var i = 0, _len = users.length; i < _len; i ++) { var user = users[i];%>
                <li><span>用户名： <%=user.username%></span> | <span>密码：<%=user.pwd%></span> | <span>性别：<%=user.sex%></span></li>
            <% } %>
        </ul>
    </body>
</html>